{
  "id": "/i",
  "apps": [
    {
      "id": "/i/mesos-consul",
      "instances": 1,
      "cpus": 0.1,
      "mem": 256,
      "labels": { "billing": "infrastructure" },
      "healthChecks": [{ "path": "/health", "port": 24476 }],
      "container": {
        "type": "DOCKER",
        "docker": {
          "network": "HOST",
          "image": "ciscocloud/mesos-consul:v0.3.2"
        }
      },
      "args": [
        "--zk=zk://{{ zookeeper_hostnames }}/mesos",
        "--consul",
        "--refresh=5s",
        "--healthcheck=true",
        "--healthcheck-ip=0.0.0.0"
      ]
    }
    ,
    {
      "id": "/i/influxdb",
      "instances": 1,
      "cpus": 0.2,
      "mem": 1024,
      "labels": { "billing": "infrastructure" },
      "healthChecks": [{ "path": "/", "port": 8083,"timeoutSeconds": 300, "intervalSeconds": 20 }],
      "env": {
        "GRAPHITE_DB": "graphite",
        "GRAPHITE_BINDING": ":2003",
        "PRE_CREATE_DB": "cadvisor"
      },
      "container": {
        "type": "DOCKER",
        "volumes": [
          {"containerPath": "/data", "hostPath": "/mnt/docker/influxdb", "mode": "RW"}
        ],
        "docker": {
          "image": "tutum/influxdb:0.10",
          "network": "HOST"
        }
      }
    }
    ,
    {
      "id": "/i/cadvisor",
      "dependencies": ["/i/influxdb", "/i/mesos-consul"],
      "instances": {{ server_count }},
      "cpus": 0.2,
      "mem": 256,
      "constraints": [["hostname", "UNIQUE"]],
      "acceptedResourceRoles": ["*", "master_node"],
      "healthChecks": [{ "path": "/", "portIndex": 0, "timeoutSeconds": 300, "intervalSeconds": 20 }],
      "labels": { "billing": "infrastructure" },
      "container": {
        "type": "DOCKER",
        "docker": {
          "image": "google/cadvisor:v0.22.0",
          "privileged": true,
          "network": "BRIDGE",
          "portMappings": [{"hostPort": 0, "containerPort": 8080}],
          "parameters": [
            { "key": "entrypoint", "value": "/usr/bin/cadvisor" }
          ]
        },
        "volumes": [
          {"containerPath": "/rootfs", "hostPath": "/", "mode": "RO"},
          {"containerPath": "/var/run", "hostPath": "/var/run", "mode": "RW"},
          {"containerPath": "/sys", "hostPath": "/sys", "mode": "RO"},
          {"containerPath": "/var/lib/docker", "hostPath": "/var/lib/docker/", "mode": "RO"}
        ]
      },
      "args": [
        "-storage_driver", "influxdb",
        "-storage_driver_db", "cadvisor",
        "-storage_driver_host", "influxdb-i.service.consul:8086"
      ]
    }
    ,
    {
      "id": "/i/grafana",
      "dependencies": ["/i/influxdb"],
      "instances": 1,
      "cpus": 0.2,
      "mem": 100,
      "labels": { "billing": "infrastructure" },
      "healthChecks": [{ "path": "/login", "port": 3000, "timeoutSeconds": 300, "intervalSeconds": 20 }],
      "env": {
        "HTTP_USER": "admin",
        "HTTP_PASS": "admin"
      },
      "container": {
        "type": "DOCKER",
        "volumes": [
          {"containerPath": "/var/lib/grafana", "hostPath": "/mnt/docker/grafana", "mode": "RW"}
        ],
        "docker": {
          "image": "grafana/grafana:2.6.0",
          "network": "HOST"
        }
      }
    }
    ,
    {
      "id": "/i/elasticsearch",
      "dependencies": [ "/i/mesos-consul", "/i/influxdb" ],
      "instances": 1,
      "cpus": 0.2,
      "mem": 512,
      "labels": { "billing": "infrastructure" },
      "healthChecks": [{ "path": "/", "port": 31100, "timeoutSeconds": 300, "intervalSeconds": 20 }],
      "container": {
        "docker": {
          "image": "mesos/elasticsearch-scheduler:1.0.1",
          "network": "HOST"
        },
        "volumes": [ {"containerPath": "/etc/hosts", "hostPath": "/etc/hosts", "mode": "RO"} ]
      },
      "env": { "JAVA_OPTS": "-Xms128m -Xmx256m" },
      "args": [
        "--zookeeperMesosUrl", "zk://{{ zookeeper_hostnames }}/mesos",
        "--elasticsearchClusterName", "{{ elasticsearch_cluster_name }}",
        "--elasticsearchNodes", "{{ server_count - mesos_master_count }}",
        "--elasticsearchCpu", "0.2",
        "--elasticsearchRam", "2048",
        "--elasticsearchDisk", "4000"
      ]
    }
    ,
    {
      "id": "/i/kibana",
      "dependencies": [ "/i/elasticsearch" ],
      "instances": 1,
      "cpus": 0.2,
      "mem": 512.0,
      "labels": { "billing": "infrastructure" },
      "healthChecks": [{ "path": "/", "port": 5601, "timeoutSeconds": 300, "intervalSeconds": 20 }],
      "container": {
        "docker": {
          "image": "kibana:4.3",
          "network": "HOST"
        }
      },
      "env": {
        "ELASTICSEARCH_URL": "http://elasticsearch-i.service.consul:31000"
      }
    }
    ,
    {
      "id": "/i/jenkins-master",
      "dependencies": [ "/i/mesos-consul" ],
      "instances": 1,
      "cpus": 0.2,
      "mem": 2048,
      "labels": { "billing": "infrastructure" },
      "healthChecks": [ { "path": "/", "port": 8888 } ],
      "container": {
        "type": "DOCKER",
        "docker": {
          "image": "spohnan/jenkins-mesos",
          "network": "HOST",
          "forcePullImage": true
        },
        "volumes": [
          { "containerPath": "/var/lib/jenkins", "hostPath": "/mnt/docker/jenkins", "mode": "RW" }
        ]
      },
      "env": {
        "HOST": "jenkins-master-i.service.consul",
        "JENKINS_JAVA_OPTIONS": "-Dhudson.slaves.NodeProvisioner.MARGIN=40 -Dhudson.slaves.NodeProvisioner.MARGIN0=0.75 -Xms512m -Xmx2000m -Djava.awt.headless=true -Djava.net.preferIPv4Stack=true -Dorg.apache.commons.jelly.tags.fmt.timeZone=America/New_York",
        "JENKINS_CMDLINE_OPTIONS": "--httpPort=8888",
        "JENKINS_PORT": "8888",
        "JENKINS_HOME": "/var/lib/jenkins",
        "JENKINS_FRAMEWORK_NAME": "Jenkins Scheduler",
        "JENKINS_MESOS_MASTER": "zk://{{ zookeeper_hostnames }}/mesos"
      }
    }
  ]
}
