{
  "id": "/i",
  "apps": [
    {
      "id": "/i/mesos-dns",
      "instances": {{ mesos_master_count }},
      "cpus": 0.2,
      "mem": 128,
      "constraints": [["hostname", "UNIQUE"]],
      "acceptedResourceRoles": ["master_node"],
      "labels": { "billing": "infrastructure" },
      "healthChecks": [ { "path": "/v1/version", "port": 8123} ],
      "container": {
        "type": "DOCKER",
        "docker": {
          "image": "spohnan/mesos-dns",
          "network": "HOST",
          "forcePullImage": true
        },
        "volumes": [
          { "containerPath": "/config.json", "hostPath": "/etc/mesos-dns/config.json", "mode": "RO" }
        ]
      }
    }
    ,
    {
      "id": "/i/influxdb",
      "instances": 1,
      "cpus": 0.2,
      "mem": 200,
      "labels": { "billing": "infrastructure" },
      "healthChecks": [ { "path": "/", "port": 8083} ],
      "env": {
        "GRAPHITE_DB": "graphite",
        "GRAPHITE_BINDING": ":2003",
        "PRE_CREATE_DB": "cadvisor",
        "INFLUXDB_INIT_PWD": "{{ influx_db_password}}",
      },
      "container": {
        "type": "DOCKER",
        "volumes": [
          {"containerPath": "/data", "hostPath": "/mnt/docker/influxdb", "mode": "RW"}
        ],
        "docker": {
          "image": "tutum/influxdb:0.10",
          "network": "HOST"
        }
      }
    }
    ,
    {
      "id": "/i/cadvisor",
      "dependencies": ["/i/influxdb", "/i/mesos-dns"],
      "instances": {{ server_count }},
      "cpus": 0.2,
      "mem": 100,
      "constraints": [["hostname", "UNIQUE"]],
      "acceptedResourceRoles": ["*", "master_node"],
      "healthChecks": [{"path": "/", "portIndex": 0}],
      "labels": { "billing": "infrastructure" },
      "container": {
        "type": "DOCKER",
        "docker": {
          "image": "google/cadvisor:v0.22.0",
          "privileged": true,
          "network": "BRIDGE",
          "portMappings": [{"hostPort": 0, "containerPort": 8080}],
          "parameters": [
            { "key": "entrypoint", "value": "/usr/bin/cadvisor" }
          ]
        },
        "volumes": [
          {"containerPath": "/rootfs", "hostPath": "/", "mode": "RO"},
          {"containerPath": "/var/run", "hostPath": "/var/run", "mode": "RW"},
          {"containerPath": "/sys", "hostPath": "/sys", "mode": "RO"},
          {"containerPath": "/var/lib/docker", "hostPath": "/var/lib/docker/", "mode": "RO"}
        ],
        "args": [
          "-storage_driver", "influxdb",
          "-storage_driver_db", "cadvisor",
          "-storage_driver_host", "influxdb-i.marathon.mesos:8086",
          "-storage_driver_user", "root",
          "-storage_driver_password", "root"
        ]
      }
    }
  ]
}
